{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'shortener_app/style.css' %}">
	{% block title %}
    {% endblock title %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <nav class="nav">
                {% if request.user.is_authenticated %}
                <h2 class="nav-btn">{{ request.user.username }}</h2>
                <ul class="nav-list">
                    <li class="nav-item"></li>
                        <li class="nav-item">
                            <a href="{% url 'shortener_app:shortener' %}" class="nav-link">Сокращатель ссылок</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'shortener_app:links' %}" class="nav-link">Мои ссылки</a>
                        </li>
                    </div>                    
                </ul>
                {% else %}               
                <h1 class="title">Сокращатель ссылок</h1>
                {% endif %}                
            </nav> 
        </header> 
        <main class="main">
            {% block content %}
	        {% endblock content %}
        </main>        
    </div>	
</body> 
</html> 