{% extends 'shortener_app/base.html' %}
{% block title %}
    <title>{{ title }}</title>
{% endblock title %}

{% block content %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label for="{{ form.username.id_for_label }}" class="label-login">Имя пользователя</label>
    {{ form.username.errors }}
    {{ form.username }}
    <label for="{{ form.password.id_for_label }}" class="label-login">Пароль</label>
    {{ form.password.errors }}
    {{ form.password }}   
    <button type="submit" class="login-btn">Войти</button>
    <a class="signup-btn" href="{% url 'shortener_app:signup' %}">Регистрация</a>
</form> 
{% endblock content %}